.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  .main {
    position: relative;
    width: 100dvw;
    flex-grow: 1;


    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      overflow: hidden;
    }

    $animation-speed: 0.5s;

    .map {
      height: 100%;
      width: 100%;
      transition: width $animation-speed ease;
    }

    .side_menu {
      transition: width $animation-speed ease;
    }
  }
}
